

.divinput {
  max-height: 50%;
  max-width: 40%;
  padding-left: 1%;
  padding-right: 1%;

}

.divcreate{
  max-height: 40%;
  max-width: 35%;
  padding-right: 1%;
  padding-left: 1%;
}
.formtitle{
  font-size:35px;
  font-family: "Lucida Console";
  padding-right: 1%;
  padding-left: 1%;
}

.labeltitle{
  font-family:"Lucida Console";
  font-size:15px;
}